/*个人中心左边资料显示*/
.basic{
	margin:3% 10px;
	border: 1px dashed  #fff3cd ;
	background-color: #080808;
	line-height: 32px;
	opacity: 0.6;
}
.basic p{
	width: 100%;
	margin:10px auto;
	line-height: 50px;
	font-size: 16px;
	color: #d4c3c3;
	text-align: center;
	cursor: pointer;
}
.basic img{
	display: table-cell;
	margin-left: 36%;
	width:80px;
	height:80px;
	margin-top: 10px
}
.basic p span .fa{
	font-size:20px;
	margin-left:10px;
}
.basic p .gender .fa-mars{
	color: #00a0e9
}
.basic p .gender .fa-venus{
	color: deeppink;
}
.basic p .gender .fa-genderless{
	color: black;
}
.basic p span .fa-pencil-square-o{
	color: #00a0e9
}

/*编辑资料div*/
.edit{
	margin:3% 10px;
}
/*图像修改*/
.headimage .checkImgBtn{
	margin-left: 10%
}

.headimage #upload{
	margin-left: 25%;
	border-radius: 50%;
	cursor: pointer ;
	width: 80px;
	height: 80px;
}
.headimage .layui-form-label{
	line-height: 80px;
}
.headimage .layui-input-inline{
	width: 300px;
}

/*个性签名*/
.signature{
	resize: none;
	height: 150px
}

/*图像模板选择样式*/
#showImage{
	width: 720px;
	display: none
}
/*默认图片的div*/
.defaultIcon {
	display: inline-block;
	width:120px;
	height: 120px;
	margin: 10px;
	line-height: 120px;
	text-align: center;
}
/*默认图片的样式*/
.defaultIcon  img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	cursor: pointer;
}
.defaultIcon  img:hover{
	border: 2px solid #a94442;
	transition: border 0.8s;
}